body{
    background-image: url(appieeeee.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#projecten-map {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.project {
    border: 1px solid #ccc;
    padding: 15px;
    width: 250px;
    background-color: #f9f9f9;
    border-radius: 8px;
}
.project h2 {
    margin-top: 0;
}
.project a {
    color: #007bff;
    text-decoration: none;
}
.project a:hover {
    text-decoration: underline;
}
h1{
    color: antiquewhite;
}
